<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <style>
        * {
            background: black;
        }

        body {
            background: black;
        }

        .carousel-inner>.item>img,
        .carousel-inner>.item>a>img {
            width: 100%;
            margin: auto;
            height: auto;
        }
    </style>
</head>

<body>

    <div class="container">
        <br>
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">

                <div class="item active">
                    <iframe scrolling="yes" frameborder="0" height="900px" style="width:100%" src="/business"></iframe>
                    <div class="carousel-caption">
                        <p>
                            <h3><a target="_blank" href="/business">Open</a></h3>
                        </p>
                        <h1>Pritrox Business</h1>
                    </div>
                </div>

                <div class="item">
                    <iframe scrolling="yes" frameborder="0" height="900px" style="width:100%" src="/ideas"></iframe>
                    <div class="carousel-caption">
                        <p>
                            <h3><a target="_blank" href="/ideas">Open</a></h3>
                        </p>
                        <h1>Pritrox-Ideas</h1>
                    </div>
                </div>

                <div class="item">
                    <iframe scrolling="yes" frameborder="0" height="900px" style="width:100%" src="/pritrox"></iframe>
                    <div class="carousel-caption">
                        <p>
                            <h3><a target="_blank" href="/pritrox">Open</a></h3>
                        </p>
                        <h1>Pritrox Home</h1>
                    </div>
                </div>

            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>

</body>

</html>