<!DOCTYPE html>

<title>Software-Engineering</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    body,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: "Montserrat", sans-serif
    }

    .w3-row-padding img {
        margin-bottom: 12px
    }

    .bgimg {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url('images/th.png');
        min-height: 100%;
    }
</style>
<html>

<body>

    <!-- Sidebar with image -->
    <nav class="w3-sidebar w3-hide-medium w3-hide-small" style="width:40%">
        <div class="bgimg"></div>
    </nav>

    <!-- Hidden Sidebar (reveals when clicked on menu icon)-->
    <nav class="w3-sidebar w3-black w3-animate-right w3-xxlarge"
        style="display:none;padding-top:150px;right:0;z-index:2" id="mySidebar">
        <a href="javascript:void(0)" onclick="closeNav()" class="w3-button w3-black w3-xxxlarge w3-display-topright"
            style="padding:0 12px;">
            <i class="fa fa-remove"></i>
        </a>
        <div class="w3-bar-block w3-center">
            <a href="#" class="w3-bar-item w3-button w3-text-grey w3-hover-black" onclick="closeNav()">Home</a>
            <a href="#portfolio" class="w3-bar-item w3-button w3-text-grey w3-hover-black"
                onclick="closeNav()">Portfolio</a>
            <a href="#about" class="w3-bar-item w3-button w3-text-grey w3-hover-black" onclick="closeNav()">About</a>
            <a href="#contact" class="w3-bar-item w3-button w3-text-grey w3-hover-black"
                onclick="closeNav()">Contact</a>
        </div>
    </nav>

    <!-- Page Content -->
    <div class="w3-main w3-padding-large" style="margin-left:40%">

        <!-- Menu icon to open sidebar -->
        <span class="w3-button w3-top w3-white w3-xxlarge w3-text-grey w3-hover-text-black" style="width:auto;right:0;"
            onclick="openNav()"><i class="fa fa-bars"></i></span>
        <a href="/" class="w3-button w3-black w3-margin"><i class="fa fa-arrow-up w3-margin-right"></i>zurück</a>
        <!-- Header -->
        <header class="w3-container w3-center" style="padding:128px 16px" id="home">
            <h1 class="w3-jumbo"><b>Thomas Hartwig</b></h1>
            <p>Fachinformatiker für Anwendungsentwicklung</p>
            <img src="images/th.png" class="w3-image w3-hide-large w3-hide-small w3-round"
                style="display:block;width:60%;margin:auto;">
            <img src="images/th.png" class="w3-image w3-hide-large w3-hide-medium w3-round" width="1000" height="1333">
        </header>

        <!-- About Section -->
        <div class="w3-content w3-justify w3-text-grey w3-padding-32" id="about">
            <h2>Softwareentwicklung</h2>
            <hr class="w3-opacity">

            <p>
                Sie haben eine Vision, wir realisieren sie.
                Ganz gleich ob es um verbessern, erweitern oder testen einer bereits bestehenden Lösung
                geht oder ein völlig neues Produkt kreiert werden soll. Unsere Kompetenz wird zu Ihrer Überlegenheit,
                denn Pritrox Software befriedigt nicht nur Erwartungen, sie erfüllt Träume.
                Erstellt nach den höchsten Sicherheitsstandards und Plattformunabhängig , bieten wir überragende
                Performance und absolute Skalierbarkeit.
                Haben wir Ihr Interesse geweckt? Nehmen Sie Kontakt mit uns auf und lassen sich durch die Intelligenz
                und Interaktivität unserer Systeme überzeugen.
                Sollten sie kontinuierliche Weiterentwicklung, Überwachung oder eine Hochsicherheitslösung,
                bei der auftretende Sicherheitslücken geschlossen werden bevor Sie öffentlich sind, wünschen. Wir bieten
                es.
                Schließen Sie einen entsprechenden Upgrade- oder Wartungsvertrag ab und Sie brauchen sich über diese
                Thematik keine weiteren Gedanken zu machen und können sich ganz auf Ihr Kerngeschäft konzentrieren.
                Preise werden nach Aufwand, aber immer transparent und fair gestaltet. Fragen Sie einfach unverbindlich
                an.
            </p>

            <h3 class="w3-padding-16">Erfahrung</h3>

            <p class="w3-wide">Applikationen</p>
            <div class="w3-light-grey">
                <div class="w3-container w3-center w3-padding-small w3-dark-grey" style="width:95%">95%</div>
            </div>
            <p class="w3-wide">Webseiten</p>
            <div class="w3-light-grey">
                <div class="w3-container w3-center w3-padding-small w3-dark-grey" style="width:75%">75%</div>
            </div>
            <p class="w3-wide">Containerisierung</p>
            <div class="w3-light-grey">
                <div class="w3-container w3-center w3-padding-small w3-dark-grey" style="width:80%">80%</div>
            </div><br>
            <p class="w3-wide">Datenbanken</p>
            <div class="w3-light-grey">
                <div class="w3-container w3-center w3-padding-small w3-dark-grey" style="width:70%">70%</div>
            </div><br>
            <p class="w3-wide">Internet der Dinge</p>
            <div class="w3-light-grey">
                <div class="w3-container w3-center w3-padding-small w3-dark-grey" style="width:65%">65%</div>
            </div><br>
            <p class="w3-wide">Neurale Intelligenz</p>
            <div class="w3-light-grey">
                <div class="w3-container w3-center w3-padding-small w3-dark-grey" style="width:60%">60%</div>
            </div><br>

            <!-- End About Section -->
        </div>

        <!-- Contact Section -->
        <div class="w3-padding-32 w3-content w3-text-grey" id="contact" style="margin-bottom:64px">
            <h2>Kontakt</h2>
            <hr class="w3-opacity">
            <p>Sie erreichen mich unter tom@it.pritrox.com</p>
            <!-- End Contact Section -->
        </div>

        <!-- Footer -->

        <footer class="w3-container w3-padding-32 w3-light-grey w3-center">

            <a href="/home" class="w3-button w3-black w3-margin"><i class="fa fa-arrow-up w3-margin-right"></i>nach
                Oben</a>
            <div class="w3-xlarge w3-section">
                <img src="images/logo.png" style="width:15%">
                <p>Powered by Pritrox Software</p>
            </div>
        </footer>

        <!-- END PAGE CONTENT -->
    </div>

    <script>
        // Open and close sidebar
        function openNav() {
            document.getElementById("mySidebar").style.width = "60%";
            document.getElementById("mySidebar").style.display = "block";
        }

        function closeNav() {
            document.getElementById("mySidebar").style.display = "none";
        }
    </script>

</body>

</html>