<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<html lang="en">
<title>Pritrox Webstores</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<body>

  <!-- Navbar (sit on top) -->
  <div class="w3-top">
    <div class="w3-bar w3-white w3-wide w3-padding w3-card">
      <a href="#home" class="w3-bar-item w3-button"><b>Pri</b> Trox</a>
      <!-- Float links to the right. Hide them on small screens -->
      <div class="w3-right w3-hide-small">
        <a href="#stores" class="w3-bar-item w3-button">Webstores</a>
      </div>
    </div>
  </div>

  <!-- Header -->
  <header class="w3-display-container w3-content w3-wide" style="max-width:1500px;" id="home">
    <img class="w3-image" src="images/slide3.png" alt="Architecture" width="1500" height="800">
    <div class="w3-display-middle w3-margin-top w3-center">
      <h1 class="w3-xxlarge w3-text-white"><span class="w3-padding w3-black w3-opacity-min"><b>Pritrox</b></span> <span
          class="w3-hide-small w3-text-light-grey">Webstores</span></h1>
    </div>
  </header>

  <!-- Page content -->
  <div class="w3-content w3-padding" style="max-width:1564px">

    <!-- Project Section -->
    <div class="w3-container w3-padding-32" id="stores">
      <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Webstores</h3>
    </div>

    <div class="w3-row-padding">

      <div class="w3-col l3 m6 w3-margin-bottom">
        <div class="w3-display-container">
          <div class="w3-display-topleft w3-black w3-padding">Lebensmittel</div>
          <a href="https://j330891.servers.jiffybox.net">
            <img src="images/slide2.png" alt="House" style="width:100%">
          </a>
        </div>
      </div>


      <div class="w3-col l3 m6 w3-margin-bottom">
        <div class="w3-display-container">
          <div class="w3-display-topleft w3-black w3-padding"> Bekleidung</div>
          <a href="https://j330891.servers.jiffybox.net">
            <img src="images/slide2.png" alt="House" style="width:100%">
          </a>
        </div>
      </div>




    </div>
    <!-- End page content -->
  </div>


  <!-- Footer -->
  <footer class="w3-center w3-black w3-padding-16">
    <p>Powered by <a href="https://pritrox.glitch.me/" title="Pritrox" target="_blank"
        class="w3-hover-text-green">Pritrox</a>
      Software</p>
  </footer>

</body>

</html>